PORT=3009
DATABASE_URI=mongodb://127.0.0.1:27017/carlaville
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=carlaville-media
MINIO_PUBLIC_BASE_URL=http://127.0.0.1:9000
